<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="main.css">
<title>Page Title</title>
</head>
<body>

<ul>
  <li><a href="default.asp">Host Country <br/> <em>Brazil</em></a></li>
  <li><a href="news.asp">Host City <br/> <em>Rio De Janeiro</em></a></li>
  <li><a href="contact.asp">Participating Countries <br/> <em>207</em></a></li>
  <li><a href="about.asp">Participating Athletes <br/> <em>11237</em></a></li>
  <li><a href="default.asp">Sports <br/> <em>28</em></a></li>
  <li><a href="news.asp">Events <br/> <em>308</em></a></li>
  <li><a href="contact.asp">Top 10 <br/> <em>Countries</em></a></li>

</ul>

<img src="rio2016.jpg" alt="mainpic">

<ul id="statistics_ul">
  <li class ="statistics_li">Host Country <br/> <em>Brazil</em></li>
  <li class ="statistics_li"> Host City <br/> <em>Rio De Janeiro</em></li>
  <li class ="statistics_li">Participating Countries <br/> <em>207</em></li>
  <li class ="statistics_li">Participating Athletes <br/> <em>11237</em></li>
  <li class ="statistics_li">Sports <br/> <em>28</em></li>
  <li class ="statistics_li">Events <br/> <em>308</em></li>

</ul>

</body>
</html>